@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@custom-variant dark (&:where(.theme-dark, .theme-dark *));

/*noinspection CssInvalidAtRule*/
@theme {
    --color-bg: #ffffff;
    --color-text: #111111;
    --color-header: #1E3A8A;

    /* Tables */
    --color-utage-row: #C026D3;
    --color-master-row: #5B21B6;
    --color-expert-row: #B91C1C;
    --color-advanced-row: #B45309;
    --color-basic-row: #15803D;
}

@layer theme {
    .theme-dark {
        --color-bg: #0F172A;
        --color-text: #F8FAFC;
        --color-header: #93C5FD;

        /* Tables */
        --color-utage-row: #FF6FFD;
        --color-master-row: #C084FC;
        --color-expert-row: #F87171;
        --color-advanced-row: #FACC15;
        --color-basic-row: #4ADE80;
    }
}

/* ✨ Remaster Text Glow (light + dark mode compatible) */
.text-remaster {
    color: white;
    text-shadow: 0 0 2px #5B21B6,
    0 0 4px #7E22CE,
    0 0 6px #A855F7;
}
